*{margin:0;padding:0;box-sizing:border-box;font-family:sans-serif;}
body{background-color:#ddd;scroll-behavior: smooth;}

.quiz-title{
	display:block;
	width:100%;
	padding:80px 0px;
	background-color:#343A40;
}
.quiz-title h1{
	text-align:center;
	font-size:50px;
	color:#fffe;
}

.quiz-wrapper{
	width:50%;
	margin:20px auto;
	padding:0px 20px;
}

.quiz-form fieldset{
	border:none;
	padding:0px 0px 15px 0px;
	background-color:#eee;
}

.quiz-form fieldset:nth-child(n+2){
	margin-top:5px;
}
.quiz-form fieldset legend{
	font-size:22px;
	color:#666;
	background-color:#eee;
	padding:20px 20px 3px 20px;
	width:100%;
}
.quiz-form fieldset label{
	display:block;
	padding:5px 25px;
	font-size:16px;
	color:#666;
	cursor:pointer;
}
.quiz-result{
	width:100%;
	padding:20px 30px;
	margin:5px auto;
	background-color:#343A40;
}
.quiz-result div{
	display:flex;
	align-items:center;
}
.quiz-result div span{
	font-size:70px;
	color:#fff;
	font-weight:bold;
	padding:10px 20px;
}
.quiz-form button{
	padding:10px 20px;
	font-size:16px;
	color:#fff;
	font-weight:bold;
	background-color:#aaa;
	cursor:pointer;
	outline:none;
	border:none;
	border-radius:0px;
	border:2px solid #ccca;
}
.red{color:red;}


.quiz-result-area{
	width:100%;
	padding:70px 0px;
	background-color:#ddda;
}


.quiz-result-area p{
	text-align:center;
	font-size:40px;
	color:#666;
}
.quiz-result-area p span{
	font-size:70px;
}
.quiz-result-hidden{display:none;}

.menuItem{
	color:#fff;
	display:block;
	text-align:center;
	padding:10px 0;
	background:#111a;
	width:200px;
	margin:auto;
	font-size:18px;
	text-decoration:none;
}